body {
  font-family: 'Space Grotesk', sans-serif;
  margin: 0;
  padding: 0;
  min-width: 300px;
} 

html{
  overflow-y:hidden;
  }

.btn-color{
  background-color: #EF820A;
  color: #fff;
  border-radius: 10px;
  border: none;
}

.bg-glass {
    background-color: #ffff(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
  }