.L1{
    font-size: medium;
    position: relative;
    left: 200px;
}

 
.termos{
    font-size: 2ch;
    position: relative;
    left: 200px;
}

.vereficaçao{
    text-align: center  ;
}
 
.Nome{
    position: relative;
    left: 200px;
    height: 30px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;

}

.E-mail{
    position: relative;
    left: 200px;
    height: 30px;
    
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
   

}


.Senha{
    position: relative;
    left: 200px;
    height: 30px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
   
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;

}


.SenhaConfirmar{
    position: relative;
    left: 200px;
    height: 30px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;

}

.check{

    position: relative;
    left: 200px;
}







body{
    background-image: url(planodefundo2.png);
    background-repeat: no-repeat;
    background-position: 734px 0px; 
    background-size: 55%;
    
 }

.Entrar{
    position: relative;
    left: 330px;
    width: 100px;
    height: 47px;
    background-color: rgb(67, 202, 67);
    -webkit-border-radius: 0px;
    border-radius: 10px;
    border-color: rgb(67, 202, 67);
}

.img{
    position: relative;
    left: 280px;


}
