.L1{
    font-size: medium;
    position: relative;
    left: 50px;
}

 
.termos{
    font-size: 2ch;
    position: relative;
    left: 50px;
}

.vereficaçao{
    text-align: center  ;
}
 
.Nome{
    position: relative;
    left: 50px;


}

.E-mail{
    position: relative;
    left: 50px;


}


.Senha{
    position: relative;
    left: 50px;


}


.SenhaConfirmar{
    position: relative;
    left: 50px;


}

.check{

    position: relative;
    left: 50px;
}







body{
    background-image: url(planodefundo.svg);
    background-repeat: no-repeat;
    background-position: 700px 0px; 
    background-size: 59%;

 }

.Entrar{
    position: relative;
    left: 200px;
    color: black;
    background-color: green;
    
    
}


